[Desktop Entry]
Type=Application
Name=PolystnX
Comment=Personal, non-commercial PSX emulator with a CRT-TV frame
Exec=polystnx
Icon=polystnx
Categories=Game;Emulator;
Terminal=false
